@using Microsoft.AspNet.Identity;
@{

    ViewBag.Title = "All Posts";
}



<div class="wrapper" ng-app="BidCraft" ng-cloak>
    <div id="main" ng-controller="PostsController">
        <div id="items" class="row-fluid">

            <div class="item masonry-brick" ng-repeat="post in posts">
                <div class="picture">
                    <a class="image" title="{{post.Title}}" ng-click="ShowBids(post.Id, '@User.Identity.GetUserId()')">
                        @*<a class="image" title=" {{post.Title}}" ng-click="Edit(post.Id)">
                            <a class="image" title="{{post.Title}}" ng-click="Delete(post.Id)">*@
                        <div class="postImageContainer"><img alt="" ng-src="{{post.ImageUrl}}"></div>
                    </a>
                </div>


                <div class="item-content">
                    <div class="description">
                        <p> {{post.Title}}</p>
                        <p> {{post.Description}}</p>
                        <p>Are Materials Included? {{post.AreMaterialsIncluded ? 'Yes' : 'No'}}</p>
                        <p> Project starts on: {{post.StartDate | mydate | date:'medium'}}</p>
                    </div>

                    <div class="meta">
                        <span>
                            <i class="icon-calendar"></i>
                            {{post.PostedOn  | mydate | date:'medium'}}
                        </span>
                        <span>
                            <i class="icon-user"></i>
                            <a href="#">{{post.Buyer}} </a>
                        </span>
                        @*<span>
                                <i class="icon-bar"></i>
                                <a href="#">{{post.Description}} </a>
                            </span>*@
                        <span>
                            <i class="icon-heart-empty"></i>
                            <a class="btn btn-primary"  ng-click="ShowBids(post.Id, '@User.Identity.GetUserId()')">Show Bids</a>
                        </span>
                    </div>
                </div>
            </div>


        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Bids For This Post</h4>
                    </div>
                    <div class="modal-body">

                        <div class=" item masonry-brick" ng-repeat="b in showbids" ng-show="showbids.length">
                            {{b.PostTitle}} <br />
                            {{b.Amount | currency }}<br />
                            {{b.FinishDate | mydate | date:'medium'}} <br />
                            {{b.BidderName }} <br />
                           <a ng-show="b.IsMyBid" href= '@Url.Action("Edit", "Bids")/{{b.BidId}}'>Edit/DELETE</a>
                        </div>
                        <div ng-hide="showbids.length">There are no bids yet.</div>
                        <span>
                            <i class="icon-heart-empty"></i>
                            <a class="btn btn-primary" ng-show="canAddBid" href='@Url.Action("Create", "Bids")?postid={{showingPostId}}'>Add Bid</a>
                        </span>

                    </div>
                    <div class="modal-footer">
                       
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts {
    <script src="~/Scripts/app.js" type="text/javascript"></script>
}
